.outest {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: aquamarine;
}

.outer {
  background-color: salmon;
}

.headingBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  color: white;
}

.iconAndHeading {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.iconAndHeading > img {
  width: 20px;
  height: 20px;
}

.project {
  display: flex;
  width: 50%;
  justify-content: center;
}

.selectionBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.topText {
  width: 25%;
}

.topText h5 {
  margin-bottom: 0;
}

.bottomText {
  width: 25%;
}

.bottomText h5 {
  margin-bottom: 0;
}

.inputSelection {
  width: 100%;
  border:1px solid #D5D4D8;
  border-radius: 5px;
  height: 30px;
  text-indent: 5px;
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1rem;
  width: 75%;
  margin-bottom: 3rem;
  background-color: blueviolet;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.buttonText {
    color: white;
    margin-right: 0.5rem;
  }

.meme {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  position: relative;
}

.meme > img {
  width: 80%;
  /* justify-content: center; */
}


.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}